.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--TEXT_PRIMARY);
    margin: 0;
}